

p{
    margin: 0;
}

article{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

article img{
    width: 50%;
    border: 10vw solid #B762C1;
    box-sizing: border-box;
}

article div{
    margin: 0 10vw;
}

.category-description > *{
    margin: 30px 0px;
}

article .learn-more-btn{
    border-radius: 5px;
    display: inline-block;
    width: initial;
    padding: 13px 50px;
    user-select: none;
    cursor: pointer;
    border: 2px black solid;
    text-align: center;
    margin: 0;
}

.body-product{
    flex-direction: row-reverse;
}

.title{
    font-size: xx-large;
}

.dark-purple{
    background-color: #8946A6 !important;
    border-color:  #8946A6 !important;
}

.purple{
    background-color: #B762C1 !important;
    border-color:  #B762C1 !important;
}

.pink{
    background-color: #EA99D5 !important;
    border-color:  #EA99D5 !important;
}

.light-pink{
    background-color: #FFCDDD !important;
    border-color:  #FFCDDD !important;
}


