

body{
    margin: 0px;
    padding: 0px;
    background: #F7F5F2 !important;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product-explanation{
    height: 100vh;
    display: flex;
    width: 80%;
    align-items: center;
    justify-content: space-around;
}

.product-explanation img{
    width: 40%;
}

.product-description{
    width: 40%;
    display: flex;
    flex-direction: column;
}

.product-description h1{
    display: flex;
}

.product-description p{
    display: block;
}

.product-description li{
    display: inline-block;
    margin-bottom: 2px;
}

.product-description ul{
    display: flex;
    flex-direction: column;
    white-space: wrap;
}

.product-description li::before{
    content: "";
    display: list-item;
    position: absolute;
}

.product-description > *{
    margin: 10px 0;
}

.buy-product{
    margin: 40px;
    width: 80%;
    justify-content: space-around;
    display: flex;
    flex-direction: row;
}