
footer{
    padding-top: 50px;
    padding-bottom: 50px;
    background-color:#FFCDDD;
}

footer a{
    color: black;
    text-decoration: none;
    font-weight: bold;
}

footer .links{
    display: flex;
    align-items:center;
}

footer a:hover{
    color: unset;
}

footer hr{
    width: 80%;
    margin: 10px 0px;
    border: 0;
    border-top: 1px solid black;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer div {
    margin: 40px;
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

footer .social-media{
    justify-content: center;
}

footer .social-media a{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 6px;
    margin: 0 2px;
    height: 70px;
    width: 70px;
    border-radius: 100px;
    border: 4px solid white;
}


footer a img {
    width: 24px;
    height: 24px;
    object-fit: contain;
}
