
footer{
    padding-top: 50px;
    padding-bottom: 50px;
    background-color:#FFCDDD;
}

footer a{
    color: black;
    text-decoration: none;
    font-weight: bold;
    margin: 0 !important;
}

footer .links{
    display: flex;
    align-items:center;
}

footer a:hover{
    color: unset;
}

footer hr{
    width: 80%;
    margin: 10px 0px;
    border: 0;
    border-top: 1px solid black;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer div {
    margin: 40px;
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

footer .social-media{
    justify-content: center;
}

footer .social-media a{
    filter: invert(100%);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 4px !important;
    height: 40px;
    width: 40px;
    border-radius: 100px;
    border: 2px solid white;
}


footer a img {
    width: 20px;
    height: 20px;
    object-fit: contain;
}

footer img::selection, footer a::selection{
    color: unset;
    background-color: unset;
    user-select: none;
}


