

body{
    margin: 0px;
    padding: 0px;
    background: #F7F5F2 !important;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0;
}

main section{
    width: 100%;
    margin: 20px 0;
}

main .types-description{
    width: 40%;
    margin-bottom: 0px;
}

main h1{
    margin-bottom: 30px;
}

main .types{
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: stretch;
}

main section > h1, main section > p{
    text-align: center;
}

main button{
    background-color: #8946A6;
    color: white;
    border-radius: 0.25rem !important;
    margin: 20px 0px !important;
    width: 150px;
    border: none;
    padding: 10px 20px;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

main button:hover{
    background-color: #6e3785;
}

main .product-lists{
    visibility: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main .product-lists > div{
    width: 90%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

main .product{
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 0.25rem;
    width: 300px;
    margin: 10px;
    background-color: white;
}

main .product img{
    /* position: relative; */
    /* box-sizing: border-box; */
    /* border: 50px solid black; */
    /* delete top part to remove border */
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    width: 100%;
}

main .product .product-description{
    padding: 20px;
}

main .product a{
    text-decoration: none;
    color: black;
}

main .product p{
    font-weight:bold;
}

main .hide {
    display: none !important;
}

.product-description div{
    cursor: pointer;
    user-select: none;
}