
.navbar-collapse{
    margin-right: 96px;
}

.dark-purple{
    background-color: #8946A6 !important;
    border-color:  #8946A6 !important;
}

.purple{
    background-color: #B762C1 !important;
    border-color:  #B762C1 !important;
}

.pink{
    background-color: #EA99D5 !important;
    border-color:  #EA99D5 !important;
}

.light-pink{
    background-color: #FFCDDD !important;
    border-color:  #FFCDDD !important;
}

.testi-img{
    background-image: url("../Assets/Model/model-1.jpg");
    background-position: center;
    background-size: auto;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: calc(0.25rem - 1px);
}

.btn-primary.dark-purple:hover{
    background-color: #6e3785 !important;
    border-color:  #6e3785 !important;
}

.btn-primary.light-pink:hover{
    background-color: #EA99D5 !important;
    border-color:  #EA99D5 !important;
}

body{
    margin: 0px;
    padding: 0px;
    background: #F7F5F2 !important;
    animation: fadeInAnimation 0.3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
    from{
      opacity:0;
      transform:translateY(-10px);
    }
    to{
      opacity: 1;
      transform: translateY(0px);
    }
}


iframe{
    width: 40vw;
    height: calc(40vw/1.77);
}

@media (max-width: 800px)  { 
    .what-is{
        flex-direction: column-reverse;
        padding: 30px 0;
    }
    .what-is-cont{
        width: 100% !important;
        height: fit-content !important;
        margin: 10px 0;
    }
    iframe{
        width: 80vw;
        height: calc(80vw/1.77);
    }
}